body {
    background: linear-gradient(white, white, aqua, darkcyan);
}

#head {
    background-color: white;
    border-radius: 30px;
}

.socMed {
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
}

.footer {
    background-color: darkcyan;
    color: aliceblue;
    text-align: right;
    bottom: 0px;
    height: 60px;
  

}